<% if @person.errors.any? %>
  <% @person.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_with model: @person, data: {turbo: false} do |form| %>
  <form>
    <div class="flex justify-center items-center">
      <div class="grid gap-3 mb-3 md:grid-cols-2 w-2/4">
        <div>
            <%= form.label :name, 'Name:', class: label_style %>
            <%= form.text_field :name, class: field_style, placeholder: "Insert Name", required: true %>
        </div>
        <div>
          <%= form.label :email, 'Email:', class: label_style %>
          <%= form.text_field :email, class: field_style, placeholder: "nome@email.com", required: true %>
        </div>
        <div>
            <%= form.label :age, 'Age:', class: label_style %>
            <%= form.text_field :name, class: field_style, placeholder: "Insert Name", required: true %>
          </div>
        <div>
            <%= form.label :gender, 'Gender:', class: label_style %>
            <%= form.text_field :gender, class: field_style, placeholder: "Insert Gender", required: true %>
        </div>  
        <div>
            <%= form.label :bio, 'About:', class: label_style %>
            <%= form.text_field :bio, class: field_style, placeholder: "Insert About", required: true %>
        </div>
        <div>
            <%= form.label :cpf, 'CPF:', class: label_style %>
            <%= form.number_field :cpf, class: field_style, placeholder: "123-456-789-36", required: true, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{2}" %>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <%= form.submit class: submit_style, type: 'submit' %>
    </div>
  </form>
<% end %>