<h2>Person - id: <%= @person.id %></h2>

<div>
  <div>
    <%= @person.name %>
  </div>
  <div>
    <%= @person.email %>
  </div>
  <div>
    <%= @person.age %>
  </div>
  <div>
    <%= @person.gender_type %>
  </div>
  <div>
    <%= @person.bio %>
  </div>
  <div>
    <%= @person.cpf %>
  </div>
</div>