<h2>Person - id: <%= @person.id %></h2>

<div>
  <div class=<%=  %>>
    <%= @person.name %>
  </div>
  <div>
    <%= @person.age %>
  </div>
  <div>
    <%= @person.gender %>
  </div>
  <div>
    <%= @person.bio %>
  </div>
  <div>
    <%= @person.cpf %>
  </div>
</div>